<div class="widgets">
  <div class="row">
    <div class="col-md-12">
      <cz-tree [data]="categories$ | async"></cz-tree>
      <cz-card title="Item List" baCardClass="with-scroll" class="data-table-container">
        <div class="panel panel-default">
          <table class="table table-striped" [mfData]="items | dataFilter : filterQuery" #mf="mfDataTable"
                 [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
            <thead>
            <tr>
              <th colspan="2">
                <div>
                  <button type="button" class="btn btn-hero-primary btn-demo" (click)="openAddModal()">Add</button>
                  <button type="button" class="btn btn-hero-primary btn-demo" (click)="showSuccess()">Delete</button>
                </div>
              </th>

              <th colspan="2">
                Filter by name:{{pagesCount}}
                <div *ngIf="filterQuery">
                  You chose: <i>{{filterQuery}}</i>
                </div>
                <input class="form-control" [(ngModel)]="filterQuery"/>
              </th>
              <th colspan="2">
                Category:
                <input class="form-control"/>
              </th>
              <!--<th colspan="5">
                <div class="btn-group" ngbDropdown>
                  <button type="button" class="btn btn-primary test">Catagory</button>
                  <button type="button" class="btn btn-primary" ngbDropdownToggle></button>
                  <ul class="dropdown-menu">
                    <li class="dropdown-item">Icon Button</li>
                    <li class="dropdown-item">Hero Button</li>
                    <li class="dropdown-item">Default</li>
                  </ul>
                </div>
              </th>-->
            </tr>
            <tr>
              <th class="item-list-title-col">
                <mfDefaultSorter by="name"><b>Name</b></mfDefaultSorter>
              </th>
              <th class="item-list-image-col"><b>Image</b></th>
              <th class="item-list-category-col"><b>Category</b></th>
              <th class="item-list-describe-col">
                <b>Describe</b>
              </th>
              <th class="item-list-price-col">
                <mfDefaultSorter by="price"><b>Price</b></mfDefaultSorter>
              </th>
              <th class="item-list-operation-col">
                Operation
              </th>
            </tr>
            </thead>
            <tbody>
            <tr id="item-table-line" *ngFor="let item of mf.data; let index = index">
              <td class="item-list-title-col">{{item.name}}</td>
              <td class="item-list-image-col">
                <img class="item-list-img"
                     (click)="openImageModal(index,item.itemId)"
                     [src]="item.image | czImagePipe" >
              </td>
              <td class="item-list-category-col">{{item.category.categoryName}}</td>
              <td class="item-list-describe-col">{{item.describe}}</td>
              <td class="item-list-price-col">{{item.price}}</td>
              <td>
                <button class="btn btn-hero-secondary btn-demo" (click)="delete(item.itemId)">
                  <i class="ion-close-round"></i>
                </button>
                <button class="btn btn-hero-secondary btn-demo" (click)="openEditModal(index)">
                  <i class="ion-edit"></i>
                </button>
                <button class="btn btn-hero-secondary btn-demo" (click)="openContentModal()">
                  <i class="ion-document-text"></i>
                </button>
              </td>
            </tr>
            </tbody>
            <tfoot>
            </tfoot>
          </table>
          <div class="cz-pagination-wrapper">
            <div class="cz-pagination">
              <cz-page [pagesCount]="pagesCount" (changePage)="changePage($event)"></cz-page>
            </div>
          </div>
        </div>
      </cz-card>
    </div>
  </div>
</div>
