@import '~@nebular/theme/styles/global/bootstrap/_dropdowns.scss';

td, th {
  text-align: center;
}

.item-list-title-col {
  width: 20%;
}

.item-list-describe-col {
  width: 35%;
}

.item-list-price-col {
  width: 10%;
}

.item-list-image-col {
  width: 10%;

  .item-list-img {
    width: 45px;
  }
}

.item-list-operation-col {
  width: 25%;
}

.btn {
  cursor: pointer;
}

.card {
  background: none;
}

.card-header {
  background: none;
}

#item-table-line {
  line-height: 3;
}

/*
.btn-group {
  width: 90%;
  margin-left:30%;
  .test {
    width: 90%;
    text-align: left;
  }

  ul {
    width: 90%;
    background-color: #7659ff;
    border-top: 1px solid #654ddb;
    li {
      color: #ffffff;
      padding: .75rem 1.5rem;
      text-transform: uppercase;
      font-size: .875rem;
      font-family: Exo;
      cursor: default;
      display: block;
      width: 100%;
      clear: both;
      font-weight: 400;
      text-align: inherit;
      white-space: nowrap;
      background: none;
      border: 0;
      &:hover{
        color: #fff;
        background-color: #9a91ff;
        border-color: transparent;
      }
    }
  }
}
*/





