@import '~@nebular/theme/styles/global/bootstrap/_dropdowns.scss';

td, th {
  text-align: center;
}

.item-list-title-col {
  width: 20%;
}

.item-list-describe-col {
  width: 35%;
}

.item-list-price-col {
  width: 10%;
}

.item-list-image-col {
  width: 10%;

  .item-list-img {
    width: 45px;
  }
}

.item-list-operation-col {
  width: 25%;
}

.btn {
  cursor: pointer;
}

.card {
  background: none;
}

.card-header {
  background: none;
}

#item-table-line {
  line-height: 3;
  border-bottom: 1px solid #eceeef;
}

.cz-pagination{
  max-width: 350px;
  margin: 0 auto;
}




