<div class="widgets">
  <div class="row">
    <div class="col-md-12">
      <cz-card title="Item List" baCardClass="with-scroll" class="data-table-container">
        <div class="panel panel-default">
          <table class="table table-striped" [mfData]="data | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
            <thead>
            <tr>
              <th>
                <div>
                  <button type="button" class="btn btn-hero-primary btn-demo">Add</button>
                  <button type="button" class="btn btn-hero-primary btn-demo">Delete</button>
                </div>
              </th>
              <th colspan="5">
                Filter by name:
                <div *ngIf="filterQuery">
                  You chose: <i>{{filterQuery}}</i>
                </div>
                <input class="form-control" [(ngModel)]="filterQuery" />
              </th>
            </tr>
            <tr>
              <th class="item-list-title-col">
                <mfDefaultSorter by="title"><b>Title</b></mfDefaultSorter>
              </th>
              <th class="item-list-image-col"><b>Image</b></th>
              <th class="item-list-describe-col">
                <b>Describe</b>
              </th>
              <th class="item-list-price-col">
                <mfDefaultSorter by="price"><b>Price</b></mfDefaultSorter>
              </th>
              <th class="item-list-operation-col">
                Operation
              </th>
            </tr>
            </thead>
            <tbody>
            <tr id="item-table-line" *ngFor="let item of mf.data">

              <td class="item-list-title-col">{{item.title}}</td>
              <td class="item-list-image-col"><img class="item-list-img" src={{item.image}} (click)="openImageModal()"></td>
              <td class="item-list-describe-col">{{item.describe}}</td>
              <td class="item-list-price-col">{{item.price}}</td>
              <td>
                  <button class="btn btn-hero-secondary btn-demo"><i class="ion-close-round"></i></button>
                  <button class="btn btn-hero-secondary btn-demo" (click)="openEditModal()"><i class="ion-edit"></i></button>
                  <button class="btn btn-hero-secondary btn-demo" (click)="openContentModal()"><i class="ion-document-text"></i></button>
              </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
              <td colspan="5">
                <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
              </td>
            </tr>
            </tfoot>
          </table>
        </div>
      </cz-card>
    </div>
  </div>
</div>
