<div class="row">
  <div class="col">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Toggle dropdown</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button class="dropdown-item">Action - 1</button>
        <button class="dropdown-item">Another Action</button>
        <button class="dropdown-item">Something else is here</button>
      </div>
    </div>
        <input type="text" class="form-control col-sm-1" placeholder="name">
  </div>
  <nb-tabset>
    <nb-tab tabTitle="Simple Tab #1">
      Tab content 1
    </nb-tab>
    <nb-tab tabTitle="Simple Tab #2">
      Tab content 2
    </nb-tab>
  </nb-tabset>
</div>
