<div class="picture-group" [ngClass]="{uploading: uploadInProgress}">
  <div class="picture-wrapper {{size}}" >
    <img  [src]="image" class="img-thumbnail"
          *ngIf="image"
          (click)="bringFileSelector()">
    <img  [src]="defaultPicture"
          class="img-thumbnail"
          *ngIf="!!!image && !!defaultPicture"
          (click)="bringFileSelector()">
    <div class="loading" *ngIf="uploader.isUploading">
      <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
      </div>
    </div>
    <div class="icon-remove" *ngIf="image">
      <i title="delete image" class="ion-trash-a" (click)="removePicture()" ></i>
    </div>
    <div class="image-change">
      <h4>Change...</h4>
    </div>
  </div>
  <!--<div class="picture-handler">
    <i title="change image" class="ion-image" (click)="bringFileSelector()"></i>
    <i title="delete image" class="ion-close" (click)="removePicture();" ></i>
  </div>-->
  <input type="file" hidden="true" [id]="id"
         ng2FileSelect
         [uploader]="uploader"
         (change)="selectedFileOnChanged($event)"/>
   <!--<input type="file" hidden="true" [id]="dynamicid" (change)="upload($event)"/>-->

</div>
