@import '~@nebular/theme/styles/global/bootstrap/_dropdowns.scss';

td, th {
  text-align: center;
}

.item-list-title-col {
  width: 15%;
}

.item-list-describe-col {
  width: 15%;
}

.item-list-describe-col {
  width: 30%;
}

.item-list-price-col {
  width: 5%;
}

.item-list-image-col {
  width: 10%;

  .item-list-img {
    width: 45px;
  }
}

.item-list-operation-col {
  width: 25%;
}

.btn {
  cursor: pointer;
}

.card {
  background: none;
}

.card-header {
  background: none;
}

#item-table-line {
  line-height: 3;
  border-bottom: 1px solid #eceeef;
}

.cz-pagination {
  max-width: 350px;
  margin: 0 auto;
}

.dropdown-item-category {
  width: 80%;
  margin-left: 10%;
  cursor: pointer;
}




