$small-size : 70px;
$meduim-size : 135px;
$large-size : 400px;


.picture-wrapper {
  position: relative;
  transition: .5s ease;
  backface-visibility: hidden;

  &:hover{
    img{
      opacity: 0.4;
    }
  }

  &:hover > .icon-remove, &:hover> .image-change{
    display: block;
  }

  .icon-remove{
    display: none;
    position: absolute;
    top:0;
    right:6%;
    i{
      color:white;
    }
  }

  .image-change{
    display: none;
    position: absolute;
    bottom: 1%;
    left:2%;
  }
}

.small{
  width: $small-size;

  img{
    width: $small-size;
  }
}

.meduim{
  width: $meduim-size;
  img{
    width: $meduim-size;
  }
}

.large{
  width: $large-size;
  img{
    width: $large-size;
  }
}





.picture-handler {
  /*position: absolute;
  left: 30px;
  top: 50%;
  opacity: 0;
  transition: .5s ease;*/
}

.ion-image {
  color: #3F51B5;
}

.ion-close {
  color: #ff4081;
}

i {
  font-size: 40px;
  margin: 10px;
  &:hover{
    font-size: 50px;
  }
}

