
<nav *ngIf="pageInfo.pages > 1" class="ng2-smart-pagination-nav">
  <ul class="ng2-smart-pagination">
    <li class="ng2-smart-page-item"
        [ngClass]="{disabled: pageInfo.pageNum == 1}">
      <a class="ng2-smart-page-link page-link"
         href="#" (click)="pageInfo.pageNum == 1 ? false : paginate(1)" aria-label="First">
        <span aria-hidden="true"><i class="ion-ios-rewind"></i></span>
      </a>
    </li>
    <li class="ng2-smart-page-item"
        [ngClass]="{disabled: pageInfo.pageNum == pageInfo.lastPage}">
      <a class="ng2-smart-page-link page-link" href="#" (click)="paginate(pageInfo.prePage)"
         aria-label="Last">
        <span aria-hidden="true"><i class="ion-ios-arrow-back"></i></span>
      </a>
    </li>
    <li class="ng2-smart-page-item"
        *ngFor="let page of pageInfo.navigatepageNums">
      <span class="ng2-smart-page-link"
            [ngClass]="{active: pageInfo.pageNum == page}"
            *ngIf="pageInfo.pageNum == page">{{ page }}
        <span class="sr-only">(current)</span></span>
      <a class="ng2-smart-page-link" href="#" (click)="paginate(page)" *ngIf="pageInfo.pageNum != page">{{ page}}</a>
    </li>
    <li class="ng2-smart-page-item"
        [ngClass]="{disabled: pageInfo.pageNum == pageInfo.lastPage}">
      <a class="ng2-smart-page-link page-link" href="#" (click)="paginate(pageInfo.nextPage)"
         aria-label="Last">
        <span aria-hidden="true"><i class="ion-ios-arrow-forward"></i></span>
      </a>
    </li>
    <li class="ng2-smart-page-item"
        [ngClass]="{disabled: pageInfo.pageNum == pageInfo.lastPage}">
      <a class="ng2-smart-page-link page-link" href="#" (click)="paginate(pageInfo.lastPage)"
         aria-label="Last">
        <span aria-hidden="true"><i class="ion-ios-fastforward"></i></span>
      </a>
    </li>
  </ul>
</nav>




