<div id="body">
  <div id="chat">
    <div class="sidebar">
      <message-card [username]="username" [fullname]="fullname" [profile]="profile"></message-card>
      <message-list [friends]="friends" [username]="username"></message-list>
    </div>
    <div class="main">
      <message-messages [activateUser]="activateUser$ | async" [messages]="messages$ | async" [username]="username"></message-messages>
      <message-text [activateUser]="activateUser$ | async"  (sendMessage)="send($event)"></message-text>
    </div>
  </div>
</div>

